[2015-02-07 21:06] mikeal opened #1 "Welcome!"
Welcome, new localizations team :)

To get this team up and running you have a few initial tasks to accomplish:

* Create a README.md for this repository, it should include:
  * A "call to action" pointing to the Issue tracker for new translators to find tasks.
  * A list of the team members.
  * Instructions on how to log an issue to be added to this team.
* Set the repository description. This s

[2015-02-07 21:38] ktallett commented on #1
Email/ io.js.de@gmail.com
Twitter/ iojsde

[2015-02-07 22:08] ghost commented on #1
how are we going to share passwords? a private http://notepad.cc document or something like that?

[2015-02-07 22:26] ktallett commented on #1
unsure never shared a password online before. i was going to suggest an encrypted zip sent via email. I dont know if that is going overboard with security.

[2015-02-07 22:39] mthenw commented on #1
@KernTallett @ix you can use https://keybase.io/ to send encrypted message.

[2015-02-07 22:40] ghost commented on #1
we should probably go with keybase, yes

[2015-02-07 23:42] fibric opened #7 "Translate 'io.js Week of February 6th 2015'"
#1

https://medium.com/node-js-javascript/io-js-week-of-february-6th-2015-e185388549a4

question is where to publish our german translation?

[2015-02-08 05:22] fhemberger commented on #1
Yes, keybase please. User: fhemberger

EDIT: For posting translations, should we stick to this repo and add a GitHub page with jekyll? Would be much easier to post/edit/update than sharing a medium account with many people.

[2015-02-08 05:26] fhemberger commented on #7
We should set up GitHub pages for this repo with jekyll, see https://pages.github.com/

[2015-02-08 05:37] ktallett commented on #1
fhemberger, i noticed on keybase you have an invitation if you could invite me to use and ill send you the password over. If you need my email its kerntallett@gmail.com

Thats a good idea, I think jekyll will be easier yeah.

[2015-02-08 06:00] fhemberger commented on #1
@KernTallett Sure, invitation is sent.

[2015-02-08 06:06] ktallett commented on #1
thank you, just setting up now. Once you have the twitter pass, if you know of any others twitter names please do welcome them to the group on twitter.

[2015-02-08 06:12] ktallett commented on #1
-----BEGIN PGP MESSAGE-----
Version: Keybase OpenPGP v2.0.1
Comment: https://keybase.io/crypto

wcFMAzvkCtxTXx/mARAAzrfI05mvUeWReWVGuVmvJ7Sm1f4d0aVaY6epfa5cQJcF
aCSJrce5gHc9Vir9N+ygpnvawkAFGMBDehzdq7NLeFd2fPgSqWFedgh4172yCjZb
rsujqO22oXqt8G0qEzw54G2FuateqM8XyM5KSVz45qYVvU3qS8At0AfOHovK8FQ0
4wQuk7erIqqnDdCX1JiTX1wvVcwgISZEUmxaoBg/s+LkRYiGIXZ53p7jvwPYSizr
wEAqASKPGLQQtDxAZ1KXiOk+lRie/QW9j+0uRkZIBQIw

[2015-02-08 06:31] fhemberger commented on #1
Thanks, worked. In case somebody else needs it: `keybase decrypt <message above> -o <output file>`

I quickly changed the Twitter account's name to **iojs_de** to follow the same pattern as the other translations.

[2015-02-08 08:58] ghost commented on #7
gh-pages created

[2015-02-08 09:29] AlexZeitler commented on #7
Just registered io-js.de (iojs.de was already taken), so we can CNAME the GH-pages (+1 btw).

[2015-02-08 09:50] fhemberger commented on #7
@alex Nice, but maybe we should talk to @mikeal if everybody is supposed to set up an own domain for the translation or if there will be something like iojs.org/de/ later on.

BTW: I just set up a Jekyll blog in the `gh-pages` branch and copied the original english post there. Does someone have a few minutes to translate the content? Please drop a short note here before you start so we don't do th

[2015-02-08 10:01] ktallett commented on #1
Thanks @fhemberger.

[2015-02-08 10:45] ghost commented on #7
ok, i created a branch to start translation.

[2015-02-08 10:57] ghost commented on #1
decrypting the message via keybase gives me a "the author of this message is unknown to Keybase." error

[2015-02-08 11:45] ktallett commented on #1
@ix what is your keybase user name? Ill do again.

[2015-02-08 11:46] AlexZeitler commented on #1
If somebody has another invite for keybase, I would appreciate it. E-Mail: alexander.zeitler@pdmlab.com

[2015-02-08 11:48] ktallett commented on #1
I'll send you an invite in a mo Alex. Then let me know once you have finished setting up and I will be able to add you as a recipient.
UPDATE: Invite sent.

[2015-02-08 12:00] ghost commented on #1
@KernSTallett ix, like on here

[2015-02-08 12:04] ktallett commented on #1
-----BEGIN PGP MESSAGE-----
Version: Keybase OpenPGP v2.0.1
Comment: https://keybase.io/crypto

wcBMAzCIXYpTyf4eAQgAoyuITWuFJKjMWVtOJoq9BU+DnkxFzA+rqY68AOUMUb7D
LISUR1x3i6ManqPsCfFeewNGAcf3U6btmTKy6kMcNCjhsJv7xX0v0r4XCk+f3A1Z
Gv12R3pD0gb9ThJ8nPdSC+xC0Xw+SNakrIhmFCarq6TooDtoElCzV1T1/Bw/nvFd
9eNS/CKYSst6PqRWnfR+gnZMHrRU3v5Tq/0WHKjjLB58fPMsa0o7/I4+eZiSGICH
UhiCsyFLECYq5VcFB6pzGoYUK4siFVFzSpgH/qneF7u9

[2015-02-08 23:59] ghost commented on #1
please add me too. denny.trebbin@gmail.com

[2015-02-09 00:35] ghost commented on #7
With commit #12 I would like to close this issue.

[2015-02-09 00:35] #7 closed

[2015-02-09 04:51] fhemberger commented on #1
Ok, now after the initial team is set up, we should wait for the website team to clarify, how the [website translation workflow is defined and set up](https://github.com/iojs/website/issues/125#issuecomment-73435623), so we don't do the same work twice.

The question is which additional material should be translated (or newly written) for the German community which then will be hosted on our own a

[2015-02-09 07:07] ghost commented on #1
ye good question.
i think the docs we should translate. and then gather a list of german resources like presentations, videos, meetups. not sure yet if we should maintain a calendar with events happening in german language. what i can not answer yet is the question on what social media channels we should be present. i am usually not tending to read/watch/listen much technical stuff in german langu

[2015-02-09 12:59] AlexZeitler commented on #1
@fibric Send you an keybase invite (did not finish decrypting the message as I ran into some issues on Ubuntu and won't make it until friday).

[2015-02-09 20:12] ghost commented on #1
@AlexZeitler thanks alex.
have a keybase account but gpg failed due to no secret key. i am not sure if i miss something.

[2015-02-09 20:26] AlexZeitler commented on #1
Ran in the same issue, verification of GitHub and Twitter went well but could not decrypt the message.

[2015-02-09 20:31] ghost commented on #1
i think @KernSTallett has to address us as receptions.

[2015-02-09 20:32] ghost commented on #1
yeah.

On Mon, 2015-02-09 at 12:31 -0800, Denny Trebbin wrote:

[2015-02-09 20:54] ktallett commented on #1
The following should work for you @fibric

-----BEGIN PGP MESSAGE-----
Version: Keybase OpenPGP v2.0.1
Comment: https://keybase.io/crypto

wcBMAx9o9S6OrAYMAQf+J/xOy0Lk0JPPfqRwAkhNFDEixtqZJPrzR2SMvJY8XLYG
I98eUupULQGRxrxjJcLqIIy3uS5qWPiSq+G2+7zl6lVHnBdbIYPMjyVN24y27J1I
VizCJdY3g9lUzviQyRQi9b//xOyvvIyj4tREyhtlBEzhwh+zsnmTIxJPOKJG9ipL
Kbee/qKxnHXuap0rT5jWaB40ElDnNXd8P24hMvq41xiieShHes8toaZaVsKtfCCb
7

[2015-02-09 20:56] ktallett commented on #1
And for you @AlexZeitler

-----BEGIN PGP MESSAGE-----
Version: Keybase OpenPGP v2.0.1
Comment: https://keybase.io/crypto

wcFMA4ugscjvag/eAQ//ZMUce4WdT5sIL12IXj9GHBHVA0QLWNktnv73rUS8/6GD
obNvsxe+0o/SNW3TveWyATkKT31jvW1+ynXr7HgsngdMaAUwWNvQZOJnOpoO2SiY
Cr4ma37j+McFVieR57fnYr2BLkSC1zGlGjiCHa/6TttLqg4tI7A3UBPiP1nUyIED
xCRFv7pfuWtgv1/RwCCzbc3a3aFDMFLRByJz8XYUMSh7eKaMPLeG10tRS5UObdG+
0bNevJZuxjToCPvmHu

[2015-02-09 20:58] ghost commented on #1
@KernSTallett it works, thank you

[2015-02-09 20:58] ktallett commented on #1
I dont feel i am using keybase correctly but i know this method of doing individual encryptions worked for @fhemberger so this should be good for @AlexZeitler and @fibric . If anyone can enlighten me regarding a more efficient way of using keybase that would be great.

[2015-02-09 21:20] ghost commented on #1
I think you are using it correctly.
Maybe keybase can be extended to use a list of [them] and not just a single [them] aka recipients.

[2015-02-10 01:41] AlexZeitler commented on #1
@KernSTallett works, thanks!

[2015-02-10 05:15] ghost commented on #1
I think we can close this issue

[2015-02-10 05:19] ghost commented on #1
Github on a smartphone >__<
We have a instruction set about [translation](https://github.com/iojs/website/issues/125#issuecomment-73618886)

[2015-02-10 11:00] timaschew commented on #7
:+1:

[2015-02-10 11:17] ghost commented on #7
@fhemberger we have the freedom of choice - almost.
Starting with this post https://github.com/iojs/website/issues/125#issuecomment-73437393
Followed by this instruction https://github.com/iojs/website/blob/master/TRANSLATION.md

I think its up on us what we wanna do. translations of iojs.org will be under isjs.org/de if i understood it correctly. all the other stuff like collection of german io.j

[2015-02-10 17:38] ktallett commented on #7
@fibric That seems to be the case.

I have a few thoughts on it.

So we need to build our own site. I think mobile first is best. Are we looking to keep updating over time? If so would a blog style be best for our needs?

I was thinking about resources we can include.

-conference talks
-news
-tutorials (wrote by ourselves, translated)
-interviews(translated by ourselves, native speakers)

Any mor

[2015-02-10 17:41] timaschew commented on #7
Okay, didn't see the info before, so it makes sense :)

[2015-02-11 15:56] timaschew opened #13 "translate article: io.js and a node.js Foundation"
https://medium.com/@iojs/io-js-and-a-node-js-foundation-4e14699fb7be

First of all: what do we want to translate, everything on [medium by iojs](https://medium.com/@iojs)?

[2015-02-11 16:59] timaschew commented on #1
I would like to join the team :)

[2015-02-11 17:16] fhemberger commented on #13
Hmm, depends on the willingness of the volunteers to do so. But this for example is an important article, so I'd say its of interest to the German community.

In the [website repo](https://github.com/iojs/website/issues/125#issuecomment-73783176) people are already requesting access to the original markdown files for the translation teams (instead of manually editing the markup of the rendered med

[2015-02-11 19:45] ktallett commented on #1
@timaschew I don't know if we have the power to add you. If we do, i don't know how. This is the thread @mikeal said to post on if you are interested in joining.
https://github.com/iojs/website/issues/125#issuecomment-73914131

Just say +1 and the German translation group and i'm sure he will add you.

[2015-02-11 19:51] fhemberger commented on #1
We have the power to add you … gimme a sec. ;)

**EDIT:** Done

[code]

[2015-02-11 19:55] timaschew commented on #1
awesome :+1:  thank you

[2015-02-11 19:57] ktallett commented on #1
Thank you for explaining @fhemberger. Useful to know.

Welcome to the team @timaschew.

[2015-02-12 11:01] fhemberger opened #14 "Translation of io.js website"
I've started to translate the website into German, reviews appreciated:
https://github.com/iojs/website/pull/171

The ES6 page and the last FAQ paragraph still needs to be translated.

[2015-02-13 10:45] timaschew opened #15 "proposal for custom website with a blog"
Short summary what I changed in my fork of the website

- remove all i18n which is not related to german and english
- alternative template strategy with jade
- add blog

this is just a proof of concept, for instance: the code is not DRY yet

https://github.com/timaschew/iojs-website

[2015-02-13 11:01] fhemberger commented on #15
To be honest, I'm not sure what your goal is with this change.

Translations of the io.js-website are supposed to be handled in the original website repository. With the request of the translators for direct access to the markdown files of the Medium posts, I guess that those will be mirrored there in some kind of blog in the future as well.

Of cause, we can collect further resources, blog posts

[2015-02-13 11:13] timaschew commented on #15
since the medium posts are not available there are already other i18n groups that started to include the posts themselves like http://www.iojs.no

I've tried to solve exactly the problem of fragmentation. I touched the repo, but I didn't touch the files which we will fetch from upstream or send back as a pull request.
Instead I create some new files with a `-de` and changesd origin files which we

[2015-02-13 13:12] ktallett commented on #15
I feel @fhemberger is correct. My understanding was our main job was to translate the io.js website to German as closely as is possible and make sure it resembles the official iojs site as closely as possible.. The other site was optional to promote our work, arrange meetups, articles, tutorials (almost a fansite/blog on its own.). We can link from the blog to the iojs site but not from the iojs s

[2015-02-13 13:55] timaschew commented on #15
Okay, I seems that I missed the conversation in the gitter chat ;)

[2015-02-13 13:55] #15 closed

[2015-02-13 14:17] ktallett commented on #15
@timaschew and everyone in the group. So we have better communication we need to decide where our discussions will take place. Whether we create an issue for each individual item on the agenda and then have that conversation only in there. This is the idea I think is best as is a way to organise communication.

The crossover between Gitter and the issue threads means we may not all get the latest

[2015-02-13 15:35] fhemberger commented on #15
I haven't been using Gitter so far (and you can't expect new people interested in the project go through a long list of chat conversations first), so for transparency reasons, we should stick to GitHub issues.

If you want to differentiate even more between actual issues/todos and general discussions, we can add a label to the respective issues as well.

[2015-02-13 15:50] fhemberger opened #16 "Status of translation"
### Website

- [x] index (https://github.com/iojs/website/commit/cf79c937f39873dec01afe9ea7fc3decd4a39afd)
- [x] FAQ (https://github.com/iojs/website/commit/cf79c937f39873dec01afe9ea7fc3decd4a39afd, last paragraph missing)
- [x] ES6 (done, see https://github.com/iojs/iojs-de/issues/14)

### Blogposts on Medium

- [x] [io.js Week of February 6th 2015](https://medium.com/node-js-javascript/io-js-wee

[2015-02-14 22:05] ktallett opened #17 "Unofficial iojs de site"

[2015-02-14 22:06] ktallett opened #18 "Twitter"

[2015-02-14 23:09] timaschew commented on #18
can you provide some information for this issue? maybe also for #17
There is already a twitter account, isn't it? https://twitter.com/iojs_de

[2015-02-15 06:11] fhemberger commented on #17
Uhm … yes? I have been briefly talking to @marcofrodl, who already registered iojs.de:
https://twitter.com/iojs_de/status/566231263141715969

The current website is at http://iojs.github.io/iojs-de/ and needs a bit more love. ;)

[2015-02-15 08:23] ktallett commented on #18
My main thoughts were:

Should we be translating all original Twitter posts from iojs Twitter in German?
If so how would we designate that out.
What other items should we be posting ?
Is this like an early version of our unofficial site where we can link to important German iojs articles and the like?
Should we have a system so there are no duplicate posts?

[2015-02-15 10:23] ktallett commented on #17
Ok i took a look.

In our about section:

I was thinking of including a brief description regarding the project, then our aims for our site.
Thoughts?

Another thought i had was regarding content, native german content and translations of course. What do others think about us accepting submitted articles? Checked by ourselves to make sure no duplication and of a high quality. I understand right no

[2015-02-15 10:54] ghost commented on #18
i could take it upon myself to translate the twitter posts. i'll just set up a column for the iojs user and translate them as they come up.

[2015-02-15 11:53] fhemberger commented on #18
Woah, translating all the tweets is way too much. Tweets should include links to new releases/blogposts and own content. Think of it as the tweets for the German community, not 1:1 translations of the original tweets.

If you're using the account to reply to tweets or post own thoughts, please add your initials at the end of the tweet (like ^fh). This helps a lot when people want to know who of th

[2015-02-15 11:54] timaschew commented on #18
@fhemberger :+1:

[2015-02-15 11:55] fhemberger commented on #17
Sure, go ahead! I think it's a good idea to also link German tutorials/articles and news about io.js from other sources as well.

[2015-02-15 11:58] timaschew commented on #17
I talked to Marco some days ago

my mail:

he answered:

[2015-02-15 12:26] fhemberger commented on #17
Maybe we can work together on the topic and build up a company agnostic portal for io.js, of cause companies can contribute as well and link to their websites and services.

[2015-02-15 13:07] fhemberger commented on #14
Does someone want to help with the ES6 page and the last paragraph of the FAQ? Website would be complete then.

[2015-02-15 14:11] ktallett commented on #14
I will take a look at the faq again later this afternoon.

Edit/ Please say what you think of the first sentence, i haven't committed it yet as i feel there maybe an error or two.

Open source-governance befürworten der Gebrauch und der Philosophie von Open-source ermöglichen Abwandlung von ein Endprodukt.

I have been trying to work on rewording the second sentence but that I am finding trickier.

[2015-02-15 14:24] ktallett commented on #18
I would say looking over the past few days, there is probably a tweet every two days perhaps each day, we need to translate from
iojs. We need to be setting up a way of collecting potential links, articles for both Twitter and our site. An RSS feed? What sites?

[2015-02-17 13:09] ghost commented on #18
translating all the tweets is not a good idea. who really cares in what language which post is now available. if we are trying to build up a german io.js scene then it might be enough have changelog and conference call tweets translated. tweets about blog posts on medium are irrelevant because if we translate them then our german blog post tweet is doing the job already.

[2015-02-17 17:42] fhemberger commented on #14
Hm, still sounds a bit bumpy. I think this last section has to be rephrased completely to be more accessible in German.

[2015-02-17 17:44] fhemberger commented on #14
@iojs/iojs-de Can someone please look into the ES6 page and translate it?

[2015-02-17 18:22] fhemberger commented on #17
@iojs/iojs-de Can you please add your ideas for the German community website? What would you like to see and what would you contribute to it?

At the moment, we have the first of the official io.js posts from Medium, the second one is still waiting for a translation (#13). Should we write additional posts, collect links to other German blog posts/articles/tutorials, etc?

_Personal remark: I mysel

[2015-02-17 21:25] ktallett commented on #14
Checking out es6 now to see if I can take it on.

Regarding the open source governance, we need to write straight off in German.

From my understanding the main point is:

open access and open source allow anybody to edit the final product for their needs and also allows anybody to have input regarding the product.

Anyone willing to try to get that message across in German?

[2015-02-17 21:27] ghost commented on #14
Me. I'll take that try

[2015-02-17 21:27] ghost commented on #14
I shall not use Github on my smartphone >__<

[2015-02-17 21:30] ktallett commented on #17
I feel a curated list of tutorials would be useful. We could fill in the gaps regarding that, if needed.

[2015-02-17 21:32] ktallett commented on #14
Thanks @fibric :+1:

[2015-02-21 05:09] fhemberger opened #19 "Translate article: io.js Week of February 20th 2015"
https://medium.com/node-js-javascript/io-js-week-of-february-20th-2015-48486615980

[2015-02-21 19:56] ghost commented on #14
here is my take.
can someone read and check for typos please.
https://github.com/fibric/website/blob/master/content/de/es6.md

I have not translated technical terms. And after so many commas in original english version, I have followed them and created to many sub-sentences. Any humanization of my translation is welcome and appreciated :-)

as mentioned from @mikeal at the end of our translation s

[2015-02-22 07:29] fhemberger commented on #14
Thanks @fibric for your work, I added some comments and fixes directly [on your commit](https://github.com/fibric/website/commit/6ca40a9fb31bbab26fe211eea32a3489f58949ca). After you have checked on them, let's see we get a :+1: here, so we can merge it for the website.

[2015-02-22 10:58] fibric opened #20 "formal address 'sie' 'du' or addressless?"
I have one question about formal address.

'In io.js können sie ...'
'In io.js kannst Du...'
'In io.js kann man...'

What is our prefered formal address?

with my voice i'll vote for 'du' because it sounds more friendly and welcoming.

[2015-02-22 11:43] ghost commented on #14
please check and :+1: `io.js-de` below the pr https://github.com/iojs/website/pull/229

[2015-02-22 11:59] ghost commented on #20
yeah, same. i'll go for 'du'

[2015-02-22 12:12] ktallett commented on #20
Same here 'du'.

[2015-02-22 13:40] timaschew commented on #20
:+1:  du

[2015-02-22 15:06] ghost commented on #17
we have a white paper to start with.
no german community page has grown just yet.

[2015-02-22 16:06] AlexZeitler commented on #20
Du.

[2015-02-22 16:23] fhemberger commented on #14
Found a typo and offered an alternative on a different line, otherwise LGTM. :+1:

[2015-02-24 19:29] parroit commented on #13
:+1:  this. I'm trying to get the [list of markdown sources for the articles here](https://github.com/iojs/iojs-it/issues/14) but I'm not sure where to get latest version, and I don't found markdown for `io.js and a node.js Foundation`

[2015-02-27 12:58] fhemberger opened #21 "Reconciliation Proposal: Voting of iojs-de"
@iojs/iojs-de: Please have a look at the discussion over here https://github.com/iojs/io.js/issues/978 about the reconciliation of io.js / node.js and give a short feedback ( at least :+1: / :-1: ), so we can post our vote on this.

For questions or deeper discussion of this topic, please post in the original issue's thread.

[2015-02-27 13:12] AlexZeitler commented on #21
:+1:

[2015-02-27 13:29] ghost commented on #21
:+1:

[2015-03-02 07:57] fhemberger commented on #21
:+1:

[2015-03-02 08:02] ghost commented on #21
:+1:

[2015-03-05 09:50] #14 closed

[2015-03-11 16:07] ChristianGaertner commented on #1
I would like to contribute to the German translation as well and know how and where to contribute exactly.
(I already have experience translating software, being a member of the ubuntu-de translation group for a while now).

[2015-03-11 16:29] ghost commented on #1
Hmm, it seems we have lost our admin powers to invite people to join our iojs-de team.
maybe @mikeal has more to say.

[2015-03-12 12:41] ghost commented on #20
after 3 weeks, 5 of 8 members have voted for 'Du'.

How to go on now?
I have read our official iojs.org translations we have done and found a nice mixture of everything regarding to formal address.

[2015-03-12 20:04] ghost commented on #1
@ChristianGaertner I have added you as a contributor until someone with more power can add you to our team.
2 weeks ago I have received an email about being promoted to admin group. I still have this tag but I can not invite peoples. Maybe core io.js team has set a team limit. They had a discussion about limits for l18n teams but not sure what the result is.

[2015-03-12 20:08] mikeal commented on #1
So, we're on the GitHub beta for new-style permissions. Group admins can add and remove people from their teams _but_ they cannot "invite" people to the org (which really sucks). The only people who can invite to the org are the org admins (which have rights to literally everything). I've promoted a few people to org admins to get around this but we're still quite limited :(

[2015-03-12 20:11] ghost commented on #1
thanks for lighten me up :)
we have to blame github as it seems

[2015-03-12 20:12] mikeal commented on #1
Ya, there is this strange assumption that adding people to an org should be heavily guarded :(

[2015-03-12 20:13] ChristianGaertner commented on #1
Thanks for adding me to the team. I'm happy to be able to contribute to the io.js project!

[2015-03-12 20:39] ChristianGaertner commented on #20
I'd vote for "Du" as well (with capital 'D', so it's a bit more formal).

[2015-03-17 23:16] ghost commented on #16
what about recent patch notes?

[2015-03-18 07:02] fhemberger commented on #16
What do you mean?

[2015-03-18 07:42] ghost commented on #16
I mean, the situation about patch notes. When I browse iojs.org and choose Deutsch, then I see only English change logs. Is that what we want or tolerate? Sure thing the pace of releasing new iojs versions is very high and they have much more contributors than we have translators. Thats why I'm asking.

[2015-03-18 07:58] fhemberger commented on #16
Uh no, I won't translate Changelogs. That doesn't make much sense (it's too easy to unwillingly alter the exact meaning of a very technical description) and is too much work.

[2015-03-18 08:05] ghost commented on #16
thanks, that was my question about.

[2015-04-24 07:12] fhemberger commented on #16
@iojs/iojs-de It has been really quiet around here lately. Is there still interest in continuing translations? If so: How should we proceed?

[2015-04-24 07:21] ghost commented on #16
Still interested.
I think reviewing current content on iojs.org and check if content is up to
date (new content, removed content, modified content).
Roadmap is open. Medium? TBH Medium posts translations are useless unless
published on Medium again.

Maybe we can start on planing a iojs_de meetup. Or help people hosting
meetups in town.
Maybe we could create (mini) tutorials.
Talk to Golem, Heise,

[2015-04-24 07:54] fhemberger commented on #16
Okay, so let's drop http://iojs.github.io/iojs-de/.

I don't think that dedicated io.js meetups make sense at the moment (the same as dedicated Node.js events). You don't get enough content focussed on that particular topic that will enable you to host a regular meetup (I've been running a JavaScript user-group for over three years now, I know those problems _g_).

It would be great if you could r

[2015-04-24 18:57] ghost commented on #16
Roadmap looks really good. Commented and created a PR to your fork too.

I am doing react.js very much the whole time. io.js runs in background (webpack, gulp, browser-sync) and I switched to atom.io almost completely too. Thats why I think a iojs_de meetup could be a platform for js topics. Because iojs is a platform (at least I understand it that way).

I saw your Windows installer related commi

[2015-05-06 20:36] #19 closed

[2015-05-13 06:47] fhemberger commented on #18
Hmm, is anybody interested in keeping the German Twitter account at all? At the moment I seem to be the only one adding some tweets now and then (although they're only retweets of news/releases from the official account or Rod/Chris). And I must admit, I'm currently not that eager to continue to do so.

We don't really have relevant content updates (as we don't translate the Medium posts or create

[2015-05-24 08:49] #21 closed

[2015-05-24 08:49] fhemberger commented on #18
Pinging @nodejs/iojs-de …

[2015-05-24 17:05] ghost commented on #18
I can maintain it since I spend a fair amount of time on Twitter anyway.

[2015-05-25 05:29] fhemberger commented on #18
It's not so much about maintaining the account (in a technical sense) but creating/linking to original German content regarding io.js – since we're not having regular updates (like the Medium posts), we actually don't have much to tweet about which has not already been posted to @official_iojs yet.

[2015-07-01 09:13] schisma opened #22 "Update ES6 feature page to include io.js 2.x's features"
nodejs/iojs.org#384

https://github.com/nodejs/iojs.org/commit/6decf8d6a16c32552ed94b8785e4340170f4f2ba

[2015-07-01 10:28] ghost commented on #20
I'm just going to close this since there hasn't been activity for a while and all votes are for 'Du' anyways.

[2015-07-01 10:28] #20 closed

[2015-07-01 10:57] schisma opened #23 "Translation of the last bit about OS Governance"
https://github.com/nodejs/iojs.org/pull/394

[2015-07-23 20:15] juliangruber opened #24 "I can help translating"
Hey, I'm a native german :)

[2015-07-23 21:29] ghost commented on #24
ping @mikeal

[2015-07-24 04:33] fhemberger commented on #24
@mikeal Can you please add @juliangruber and @ChristianGaertner to iojs-de?

[2015-07-28 20:06] fhemberger commented on #24
@juliangruber At the moment, there is not much translation work required (website is already done), but we definitely will need some help during the merge of the nodejs.org and iojs.org websites. But if you have any ideas for improvement of the translations so far, please let us know (or send a PR).

[2015-07-29 11:00] juliangruber commented on #24
ok great, i will! thank you :)

[2015-07-29 11:00] #24 closed

[2015-08-10 05:21] fhemberger commented on #16
I'm closing this, we'll need a new issue for the upcoming `new.nodejs.org` website.

[2015-08-10 05:21] #23 closed

[2015-08-10 05:22] fhemberger commented on #13
I'm closing this for now because of the upcoming `new.nodejs.org` website.

[2015-08-10 05:22] #13 closed

[2015-08-10 05:23] fhemberger commented on #17
I'm closing this for now because of the upcoming `new.nodejs.org` website, which will include links to tutorials, etc. as well (also localized ones).

[2015-08-10 05:23] #17 closed

[2015-10-07 21:02] srl295 opened #25 "Proposal: rename the nodejs/iojs-de WG to nodejs/nodejs-de"
Dear members of the io.js German WG `iojs-de`

It is proposed to rename this repo to:

   [nodejs/nodejs-de](https://github.com/nodejs/nodejs-de/)

As part of the io.js and node.js convergence, node.js releases are now based on the codebase and user base of the converged node.js and io.js communities. A number of the resources and repositories have already been renamed.
In the absence of objection

[2015-10-07 21:04] ghost commented on #25
makes sense.

[2015-10-08 14:04] ghost commented on #25
pinging @nodejs/iojs-de again, maybe some haven't gotten the memo

[2015-10-08 14:07] ChristianGaertner commented on #25
I do not see why it shouldn't be renamed. I'd vote for renaming this WG.

[2015-10-08 14:08] ghost commented on #1
@mikeal what should we do now, after the convergence? is the new node.js website already localized?

[2015-10-08 14:44] fhemberger commented on #1
@schisma No, it's not. But we can start translating it into German.

[2015-10-08 14:47] #16 closed

[2015-10-08 14:47] #22 closed

[2015-10-08 14:47] fhemberger commented on #25
Done.

[2015-10-08 14:47] #25 closed

[2015-10-08 15:13] fhemberger commented on #18
I will close the Twitter account in the next days, it has already been dormant for over half a year, and the posts it does contain, are merely release-retweets from the main account. If someone wants to take over and _continuously keeps tweeting_ about Node.js in German, let me know, otherwise it will be gone.

Nothing is worse than news accounts without any news …

[2015-10-08 15:16] ghost commented on #18
is the handle still iojs_de or did you change it?

On Thu, Oct 8, 2015, at 05:13 PM, Frederic Hemberger wrote:

Links:
1. https://github.com/nodejs/nodejs-de/issues/18#issuecomment-146575346

[2015-10-08 15:19] fhemberger commented on #18
It's still the old one at the moment, because I'm not the owner of the linked gmail address (and changing the handle should trigger a email confirmation). In case of transferred ownership, that's something I need to figure out. ;)

[2015-10-08 15:25] ghost commented on #18
IIRC, changing the handle only requires a password confirmation,
nothing more

On Thu, Oct 8, 2015, at 05:19 PM, Frederic Hemberger wrote:

Links:
1. https://github.com/nodejs/nodejs-de/issues/18#issuecomment-146577125

[2015-10-08 21:20] ktallett commented on #18
If you need the email I can transfer the account to you. Sorry I haven't
been of more use in this project I started with good intentions yet health
and hospital stays have got in the way and I have been too embarrassed to
get back in touch to restart helping.

On Thu, Oct 8, 2015 at 4:25 PM, Jona H. notifications@github.com wrote:

[2015-10-08 22:36] ghost commented on #18
@ktallett if it's not too much of a hassle, i'd gladly accept it :)

[2015-10-09 05:25] fhemberger commented on #18
@schisma Does this mean you want to take over the Twitter account?

@ktallett No need to feel embarrassed, I hope you're okay again, so just chime in whenever you feel like.

[2015-10-09 08:06] ghost commented on #18
I still have access to the account and changed it to nodejs_de.
https://twitter.com/nodejs_de

I'm not having the gmail account password, or at least I can not find it in keychain.app.

[2015-10-09 08:50] ghost commented on #18
@fhemberger pretty much, yeah.

[2015-10-12 14:10] ktallett commented on #18
I have the password I just wish to make sure the email is disconnected from all my accounts but can't actually find the email address. Does anyone know it?

[2015-10-12 15:20] fhemberger commented on #18
Pretty sure it is: `io.js.de``@``gmail.com` ;)

[2015-10-12 15:24] ghost commented on #18
if you're done, just shoot me an email at `jona@schisma.co` with the password!

[2015-10-17 11:49] pup opened #26 "Translation, round two"
nodejs/new.nodejs.org#222

As said there, we need to translate the website contents. How do we want to do this - commit it to this repo first and then open a PR on the website repo, or just directly do that?

[2015-10-17 12:23] fhemberger commented on #26
How about creating a new "nodejs-de" branch of the website repo and everybody helping with the translation can fork the project and commit into that branch. Afterwards, it will be merged into master.

The only thing we have to discuss is who is willing to translate which parts:
- [ ] 404.md
- [ ] about/advisory-board/index.md
- [ ] about/advisory-board/members.md
- [ ] about/governance.md
- [ ] ab

[2015-11-21 05:59] fhemberger commented on #26
@nodejs/nodejs-de Anyone willing to translate the nodejs.org site to German?

[2015-11-21 20:06] juliangruber commented on #26
@fhemberger feel free to assign me 5 to get started

[2015-11-22 07:30] fhemberger commented on #26
@juliangruber I'm not assigning anything, pick your own. :smile:

[2015-11-22 09:09] juliangruber commented on #26
@fhemberger ok, then shall we create issues for each page?

[2015-11-22 09:38] fhemberger commented on #26
Just go ahead and fork the repo and start translating. Add a note here, which pages you're planning to work on (so others don't start working on the same ones), and I'll update my comment above.

[2015-11-22 11:27] juliangruber commented on #26
working on:
- docs/es6.md
- docs/faq.md
- docs/index.md

[2016-02-27 06:42] #1 closed

[2016-02-27 06:42] #18 closed

[2016-07-09 00:12] Lac opened #27 "Translation, die dritte"
jetzt, da auf der website unterstützung für partielle übersetzungen ist (https://github.com/nodejs/nodejs.org/issues/807), ist die perfekte zeit, um die aktivitäten dieser WG wieder zum laufen zu kriegen.

also haben wir keinen wirklichen druck, die übersetzung auf einmal fertigzumachen, wir können uns also zeit lassen. @fhemberger hat in der letzten issue eine liste von seiten zum übersetzen gema

[2016-07-09 09:58] fhemberger commented on #27
Liste ist mittlerweile was länger geworden, wobei `./knowledge/*` auf jeden Fall optional ist:

[code]

Ich für meinen Teil wäre bei der Übersetzung raus, kümmere mich stattdessen weiterhin um das Website-Repo an sich. Hatte die Übersetzung damals für io.js nur angefangen, weil es ja wirklich nur die paar Seiten waren. Meine Erfahrung ist, das übersetzte Webseiten inhaltlich schnell auseinander dr

[2016-10-16 17:59] junedev commented on #27
Ich habe in #971 die ersten Seiten übersetzt. @fhemberger Wie sieht es aus mit dem Skipt, damit hier Issues bei Änderungen der englischen Seite erzeugt werden? Und hättest du Zeit, meine Übersetzung zu checken?

[2016-10-16 21:06] fhemberger commented on #27
a) Das Script gibts leider immer noch nicht, habe momentan auch leider keine Zeit, mich da mal ran zu setzen. Ich werd aber ein Issue aufmachen, das den benötigten Ablauf genau beschreibt. Vielleicht findet sich ja dann jemand, der sich der Sache annehmen möchte. 🤔

b) Übersetzung checken: Mach ich. 😃

[2016-10-17 10:11] fhemberger commented on #27
@junedev Den Ablauf für das Übersetzungsscript hab ich hier mal definiert: https://github.com/nodejs/nodejs.org/issues/972

[2017-05-24 21:03] sotayamashita commented on #26
@fhemberger Still working?

[2017-05-25 04:04] fhemberger commented on #26
@sotayamashita Unfortunately, no.

[2017-05-25 04:04] #26 closed

[2017-05-25 04:05] fhemberger commented on #27
Closed due to inactivity

[2018-02-07 21:44] obensource opened #29 "Node.js Internationalization Proposal"
Hi there!

On behalf of the [Node.js Community Committee](https://github.com/nodejs/community-committee), I’d like to thank you for your group’s contributions to this awesome project! 👏👏👏

I’m reaching out as a member of our new [Internationalization Working Group](https://github.com/nodejs/i18n), and we’d like to get in touch with you about our proposal around [Internationalization for Node.js](h

[2018-02-09 08:20] fhemberger commented on #29
@obensource Hi Ben, the German translation group is practically dead. Last translation effort was made two years ago.

[2018-02-12 20:31] obensource commented on #29
@fhemberger no problem! Thank you for letting me know!

Do you perceive that there will be any interest in translating Node.js into German given the new process proposal?

We'd like to understand your needs regarding this. We've heard other groups say that they'd only really like to see some of the general content from [nodejs.org](https://nodejs.org/en/) translated into their language, however tr

[2018-03-01 10:20] fhemberger commented on #29
@obensource sorry for the late reply: Regarding the docs I feel the same way.

Personally I don't need a German version of the website either. Others might disagree, but given the lack of interest in helping with the translation, I just don't see the point at the moment. Besides, English is the first foreign language you learn in school in Germany, usually starting at 5th grade (sometimes even ear

[2018-03-01 12:58] juliangruber commented on #29
I share your reasoning @fhemberger, I even prefer reading english documentation, as a German. However, it still adds mental overhead for new learners of Node.js so there is most definitely value in having a German version too.

It would be great to have one, but given the good education here it's not easy for me either to justify investing the time and energy.

[2021-05-10 19:06] mhdawson opened #30 "Rename primary branch to main"
We are going through all of the node.js repositories to rename the primary branch to main. Please see https://github.com/nodejs/node/issues/33864 for more context.

I don't think there should be any issues for the contributors to this repo. I'd like to do the remain this Friday May 15th unless there are any concerns.

Please let me know in this issue before May 15th if there are any concerns, othe

[2021-05-17 17:31] mhdawson commented on #30
Renamed, closing

[2021-05-17 17:31] #30 closed

[2022-01-09 22:17] obensource opened #31 "Archiving nodejs-de (node's i18n process has changed)"
Dear **nodejs-de** team,

Thank you for being part of the Node.js community. 🙏

This repository doesn't seem to have been very active recently, and so it is scheduled to be archived on **01-14-22**.

Meanwhile, we'd love to have you come over and be a part of the i18n WG at: https://github.com/nodejs/i18n#contributing

Please feel free to reach out to us there, or to me directly if you'd like to u